@{
    ViewBag.Title = "ShowAllForums";
}

<h2>ShowAllForums</h2>
 <p>Here are all the avialable forums</p>
@{
    ForumApplication.Models.ForumSystem fs = ForumApplication.Models.ForumSystem.initForumSystem();
    List<string> forums = fs.displayForums();
    foreach (string s in forums)
    {
       <p>@s</p>
    }
}
@Html.ActionLink("Create a forum", "CreateForum", "CreateForum", new { Name = "Example1" }, new { id = "link1" });

@Html.ActionLink("Forum", "ShowAllThreads", "Forum", new { Name = "Example2" }, new { id = "link2" });