@{
    ViewBag.Title = "CreateNewForum";
}

<h2>CreateNewForum</h2>

<h1>The Forum has been created</h1>
@Html.ActionLink("Go back to forums page", "ShowAllForums", "AllForums", new { Name = "Example" }, new { id = "link1" })